@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@100;200;400&family=Raleway:wght@400;500;600&display=swap");
:root{
    --fondo: #f3eaf4;
    --accent: #e5cedc;
    --nav: #bca3ac;
    --footer: #8f9491;
    --subtle: #eadde1;
}
body {
  background-color: var(--fondo);
  margin: 0px;
  font-family: sans-serif;
}

#welcome-section {
  height: 100vh;
}
#welcome-section div {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding: 25%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  background-color: var(--accent);
  margin-bottom: 0px;
}
h2 {
  margin-top: 0px;
  font-family: "Raleway", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
}
#navbar {
  background-color: var(--nav);
  height: 55px;
  width: 100%;
  position: fixed;
}
#navbar ul {
  list-style-type: none;
  float: right;
}
#navbar a {
  text-decoration: none;
  color: #f3eaf4;
}
#navbar li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#navbar li {
  display: inline;
  padding: 20px;
  text-transform: uppercase;
}

#projects {
  background-color: #e5cedc;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 30%));
  grid-template-rows: repeat(auto-fill, minmax(65px, 30%));
  grid-gap: 15px;
  justify-content: center;
  padding: 50px 5px;
}
#projects h2 {
  grid-area: 1/1/2/4;
  justify-self: center;
  padding: 13px;
  font-size: 2em;
}
#projects a {
  text-decoration: none;
  color: inherit;
}

.project-tile {
  text-align: center;
  padding: 10px 7px;
  background-color:var(--subtle);
  border-radius: 5px;
}
.project-tile:hover {
  padding: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.project-tile img {
  width: 100%;
}

#about {
  padding-top: 60px;
  min-height: 100vh;
}
#about h2, #contact h2 {
  text-align: center;
  font-size: 2em;
}
#about p, #contact p{
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
    color: #666;
}
#contact {
  padding-top: 100px;
  min-height: 100vh;
  background-color: var(--accent);
}

@media (max-width: 550px) {
  #projects {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  #projects h2 {
    text-align: center;
  }
}
